.DS_Store
/.build
/Packages
.AppleDouble
.LSOverride
xcuserdata/

build/
DerivedData/
.build/
*.xcworkspacedata
*.xcuserstate
*.xcuserdatad
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

